@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default;
}
@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: #d4512f;
  --color-secondary: rgb(24, 24, 24);
  --color-accent: rgba(34, 34, 34);
}
@theme {
  --font-roboto: "Roboto", sans-serif;
}
